@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Karla';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/crushedsummers/Documents/Github/raphaeleg.github.io/fonts/Karla/800italic.ttf') format('truetype');
}
